@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-color: #2A1072;
    --secondary-color: #0b580b;
    --white: #ffffff;
    --black: black;
    --light-gray: #d3d3d3;
    --gap: 3rem;
}
html {
     box-sizing: border-box;
     font-size: 62.5%;
     scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    line-height: 1.5;
}

.img-bg {
    background-image: url('../img/liquid-cheese.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: var(--white);
}

.white-bg {
    background-color: var(--white);
    color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}

h2 {
    font-size: 5.5rem;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4.5rem;
}

h5 {
    font-size: 4rem;
}

h6 {
    font-size: 3.5rem;
}

a {
    text-decoration: none;
}

section {
    height: 100vh;
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: var(--gap);
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 0.1rem var(--light-gray) solid;
}

.menu h1 {
    font-size: 2.3rem;
}

.menu a {
    color: var(--primary-color);
    text-decoration: none;
}

.menu a:visited{
    color: var(--primary-color);
}

.menu-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
}

.menu ul {
    list-style: none;
    text-decoration-line: none;
    display: flex;
    align-items: stretch;
}

.menu ul a {
    display: block;
    padding: 2rem;
    position: relative;
    -webkit-tap-highlight-color: transparent;
}

.menu ul li a::after{
    content: "";
    position: absolute;
    background-color: var(--secondary-color);
    height: 0.2rem;
    width: 0;
    top:75%;
    left: 50%;
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after{
    width: 50%;
    left:25%
}

.intro-content{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    justify-items: center;
    gap: var(--gap);
    height: 100%;
}

.intro-text-content h2{
    font-size: 6rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
    line-height: 1.2;
}

.intro-img img{
    max-width: 100%;
    height: auto;   
}

.top3{
    height: 100vh;
}

.top3-content{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    max-width: 64rem;
    
}

.top3-content h2, 
.top3-content p{
    margin-bottom: 3rem;
}

.grid-one-content{
    display:flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
}

.grid-one-top3{
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

.grid-one-header h2{
    text-transform: uppercase;
    margin-bottom: 2rem;
}


.grid-one-top3-item h3{
    font-size: 3rem;
    margin-bottom: 2rem;
    display: inline;
}

.grid-one-top3-item h3::before{
    transform: rotate(15deg);
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: relative;
    font-style: italic;
    top: 2rem;
    font-size: 8rem;
    font-family: "Montserrat";
    display: inline-block;
    margin-right: 3rem;
}
